<div id="notfound">
  <div class="notfound-bg"></div>
  <div class="notfound">
    <div class="notfound-404">
      <h1>Sobre Nosotros:</h1>
    </div>
    <h2>Proyecto de Ingenieria de Aplicaciones</h2>
    
      <h3>Integrantes:</h3>
      <div class="integrantes">
      <ul>
        <li> Lamarque Ezequiel
        <li> Garcia Carli Gaston Alexis 
        <li> Martin Nicolas Maximiliano
        <li> Giordano Léa
      </ul>
    </div>
    <div class="notfound-social">
      <a href="#"><i class="far fa-envelope"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-pinterest"></i></a>
      <a href="#"><i class="fab fa-google-plus"></i></a>
    </div>
  </div>
</div>