<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <span class="example-app-name">Maps</span>
  <span class="example-spacer"></span>
  <span class="example-app-name" *ngIf="auth0.isAuthenticated()">{{ perfil?.name }}</span>
  <button mat-button class="example-app-name" (click)="logout()" *ngIf="auth0.isAuthenticated()" >Salir <mat-icon class="example-icon">exit_to_app</mat-icon></button>
  <button mat-button class="example-app-name" (click)="login()" *ngIf="!auth0.isAuthenticated()" >Ingresar <mat-icon class="example-icon">exit_to_app</mat-icon></button>
</mat-toolbar>

<mat-sidenav-container
class="example-container example-sidenav-container" color="primary" (backdropClick)="close()">
<mat-sidenav #sidenav mode="push">
  <p><button mat-button (click)="moverseAMap()"><mat-icon>map</mat-icon> Mapa</button></p>
  <p><button mat-button (click)="sidenav.toggle()"><mat-icon>import_contacts</mat-icon> Recetas</button></p>
  <p><button mat-button (click)="sidenav.toggle()"><mat-icon>room_service</mat-icon> Menu del Dia</button></p>
  <p><button mat-button (click)="sidenav.toggle()"><mat-icon>local_offer</mat-icon> Descuentos</button></p>
  <p><button mat-button (click)="sidenav.toggle()"><mat-icon>local_mall</mat-icon> Tienda</button></p>
  <p><button mat-button (click)="moverseAAbout()"><mat-icon>group</mat-icon> About us</button></p>
</mat-sidenav>

<mat-sidenav-content>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <!-- <app-restaurantes></app-restaurantes> -->

  </mat-sidenav-content>
</mat-sidenav-container>