<body>
  <h1> Calificaion :</h1>
  <h4>Calidad de servicio</h4>
  <mat-form-field>
  <mat-select [(value)]="calidad">
    <mat-option>selectiona una</mat-option>
    <mat-option value="0">Muy bien</mat-option>
    <mat-option value="1">Bien</mat-option>
    <mat-option value="2">Pasable</mat-option>
    <mat-option value="3">Mala</mat-option>
    <mat-option value="4">Muy Mala</mat-option>
    <mat-option value="5">Ausente</mat-option>
  </mat-select>
<p>{{calidad}}</p>

</mat-form-field>
<h4>Velocidad de atencion :</h4>
<mat-form-field>
<mat-select [(value)]="velocidad">
  <mat-option>selectiona una</mat-option>
  <mat-option value="0">Muy rapida</mat-option>
  <mat-option value="1">Rapida</mat-option>
  <mat-option value="2">Normal</mat-option>
  <mat-option value="3">Lenta</mat-option>
  <mat-option value="4">Muy lenta</mat-option>
  <mat-option value="5">Demasiado lenta me fui</mat-option>
</mat-select>
</mat-form-field>


<h4>Precio :</h4>
<mat-form-field>
<mat-select [(value)]="Precio">
  <mat-option>selectiona una</mat-option>
  <mat-option value="0">Menos de 50$</mat-option>
  <mat-option value="1">Entre 50 y 100$</mat-option>
  <mat-option value="2">Entre 100 y 150 $</mat-option>
  <mat-option value="3">Entre 150 y 200 $</mat-option>
  <mat-option value="4">Entre 200 y 250 $</mat-option>
  <mat-option value="5">Mas de 250 $</mat-option>
</mat-select>
</mat-form-field>


<h4>Limpieza del local :</h4>
<mat-form-field>
<mat-select [(value)]="limpieza">
  <mat-option>selectiona una</mat-option>
  <mat-option value="0">Menos de 50$</mat-option>
  <mat-option value="1">Perfectamente limpio</mat-option>
  <mat-option value="2">Limpio</mat-option>
  <mat-option value="3">Poco sucio</mat-option>
  <mat-option value="4">Sucio</mat-option>
  <mat-option value="5">No se puede comer aca</mat-option>
</mat-select>
</mat-form-field>

<div>
  <button (click)="calificar()" type="submit" class="btn btn-primary">Calificar</button>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
