<div id="notfound">
    <div class="notfound-bg"></div>
    <div class="notfound">
      <div class="notfound-404">
        <h1>Buenas!</h1>
      </div>
      <h2>Inicia Sesion para continuar...</h2>
      <a> <button mat-raised-button color="primary" (click)="login()">Ingresar</button> </a>
      <a></a>
      <div class="notfound-social">
        <a href="#"><i class="far fa-envelope"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-pinterest"></i></a>
        <a href="#"><i class="fab fa-google-plus"></i></a>
      </div>
      
    </div>
  </div>