.example-container {
    /* width: 223px; */
    /* height: 200px; */
    margin: 10px;
    /* border: 1px solid #555; */
  }

  .fondoPanelTarjetas{
    background-color: #7B1FA2;
  }

  .TituloPanelTarjetas{
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .espacioEntreTarjetas{
    margin-top: 10px;
  }

.tituloTabla {
  font-family: Bold, Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 100%;
  align-content: center;


}