<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <img mat-card-avatar class="example-header-image" [src]=restaurante.imagen alt="Photo">
    <mat-card-title>{{ restaurante.nombre }}</mat-card-title>
    <mat-card-subtitle>{{ restaurante.descripcion }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    
  </mat-card-content>
    <app-star-rating [rating]=restaurante.calificacion starCount="5" color="accent"></app-star-rating>
    {{ restaurante.calificacion }}
  <mat-card-actions>
      <button (click)="moverseACalificar( restaurante.id )" mat-raised-button color="primary">Calificar</button>
      <button (click)="moverseAVerMas( restaurante.id )" mat-stroked-button color="primary">Ver Más</button>
  </mat-card-actions>
</mat-card>
