/* mat-card
{
  width: 600px;
} */

agm-map {
    height: 400px;
    /* width: 600px; */
  }

mat-drawer
{
  flex: 1;
}

.pepe
{
  color: rgb(240, 60, 60);
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
}