<mat-card>
    <mat-card-content>
        <agm-map (mapClick)= "agregarMarcador( $event )" 
                 [latitude]="lat" 
                 [longitude]="lng" 
                 [zoom]="14"
                 [streetViewControl]="false"
                 [minZoom]="14"
                 [maxZoom]="16"
                 >

            <agm-marker [latitude]="lat" 
                        [longitude]="lng" 
                        [iconUrl]="markerIconUbicacionActual()"
                        >
                    <agm-info-window>
                        <strong>Ubicación Actual</strong>
                    </agm-info-window>
            </agm-marker>

            <agm-marker *ngFor="let marcador of marcadores" 
                        [latitude]="marcador.latitud" 
                        [longitude]="marcador.longitud"
                        [iconUrl]="markerIconRestaurante(marcador.calificacion)"
                        >
                <agm-info-window> 
                        <img mat-card-avatar class="example-header-image" [src]=marcador.imagen alt="Photo">
                        <strong class="tituloGlobo">{{ marcador.nombre }}</strong>
                    <p>{{ marcador.descripcion }}</p>
                    <p><app-star-rating [rating]=marcador.calificacion [starCount]="starCount" [color]="starColor"></app-star-rating></p>
                    <button (click)="moverseACalificar( marcador.id )" mat-raised-button color="primary" *ngIf="!esAdministrador">Calificar</button>
                    <button (click)="moverseAVerMas( marcador.id )" mat-stroked-button color="primary" *ngIf="!esAdministrador">Ver Más</button>
                  
                    <!-- {{ perfil?.name }} -->
                   <button (click)="editarMarcador( marcador )" mat-raised-button color="primary" *ngIf="esAdministrador">Editar</button>
                   <button (click)="borrarMarcador( marcador.id )" mat-raised-button color="warn" *ngIf="esAdministrador">Borrar</button>
                  
                </agm-info-window>
            </agm-marker>
            <agm-circle  [latitude]="lat" 
                         [longitude]="lng"
                         [radius]= "3000"
                         [fillOpacity]="0.1"
            ></agm-circle>
        </agm-map>
    </mat-card-content>
</mat-card>

