<mat-card>
    <mat-card-title>Mapa</mat-card-title>
    <mat-card-content>
        <agm-map (mapClick)= "agregarMarcador( $event )" 
                 [latitude]="lat" 
                 [longitude]="lng" 
                 [zoom]="14"
                 [streetViewControl]="false"
                 [minZoom]="14"
                 [maxZoom]="16"
                 >

            <agm-marker [latitude]="lat" 
                        [longitude]="lng" 
                        [iconUrl]="markerIconUbicacionActual()"
                        >
                    <agm-info-window>
                        <strong>Ubicación Actual</strong>
                    </agm-info-window>
            </agm-marker>

            <agm-marker *ngFor="let marcador of marcadores" 
                        [latitude]="marcador.latitud" 
                        [longitude]="marcador.longitud"
                        [iconUrl]="markerIconRestaurante(marcador.calificacion)"
                        >
                <agm-info-window>
                    <strong>{{ marcador.nombre }}</strong>
                    <p>{{ marcador.descripcion }}</p>
                    <p><app-star-rating [rating]=marcador.calificacion [starCount]="starCount" [color]="starColor"></app-star-rating></p>
                    <button (click)="moverseACalificar( marcador.id )" mat-raised-button color="primary" *ngIf="!esAdmin()">Calificar</button>
                    <button (click)="moverseAVerMas( marcador.id )" mat-stroked-button color="primary" *ngIf="!esAdmin()">Ver Más</button>
                  
                    <!-- {{ perfil?.name }} -->
                   <button (click)="editarMarcador( marcador )" mat-raised-button color="primary" *ngIf="esAdmin()">Editar</button>
                   <button (click)="borrarMarcador( marcador.id )" mat-raised-button color="warn" *ngIf="esAdmin()">Borrar</button>
                  
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </mat-card-content>
</mat-card>

