
<mat-card class="borde-arriba">
    <mat-card-title>Mapa</mat-card-title>
    <mat-card-content>
        <agm-map (mapClick)= "agregarMarcador( $event )" 
                 [latitude]="lat" 
                 [longitude]="lng" 
                 [zoom]="14"
                 [streetViewControl]="false"
                 [minZoom]="14"
                 [maxZoom]="16">
            <agm-circle
                 [latitude]="lat"
                 [longitude]="lng"
                 [radius]="200"

            ></agm-circle>
            <agm-marker *ngFor="let marcador of marcadores" [latitude]="marcador.latitud" [longitude]="marcador.longitud">
                <agm-info-window>
                    <strong>{{ marcador.nombre }}</strong>
                    <p>{{ marcador.descripcion }}</p>
                    <p>Calificacion: {{ marcador.calificacion }}</p>
                    <button mat-raised-button color="primary">Calificar</button>
                    <button mat-raised-button color="warn">Cancelar</button>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </mat-card-content>
</mat-card>
<app-menu-circulo></app-menu-circulo>
<!-- minuto 0:00 video 230  Guardando los marcadores en el LocalStorage-->