<div id="notfound">
  <div class="notfound-bg"></div>
  <div class="notfound">
    <div class="notfound-404">
      <h1>Oops!</h1>
    </div>
    <h2>No se ha encontrado la pagina</h2>
    <div class="notfound-social">
      <a href="#"><i class="far fa-envelope"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-pinterest"></i></a>
      <a href="#"><i class="fab fa-google-plus"></i></a>
    </div>
    <a> <button mat-raised-button color="primary" (click)="goToLogin()">Ir a login </button> </a>
  </div>
</div>